# Autoproductie

# Deel A : nodige modules

In [156]:
# standaard in python
import os 
import datetime
import sys
import random
import calendar
import gzip

In [157]:
# te installeren packages en modules
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors

from scipy.stats import weibull_min
from scipy.stats import skewnorm
from scipy.stats import norm
from scipy.stats import pareto
from scipy.stats import beta

from sklearn.linear_model import LinearRegression

from tqdm import tqdm

import seaborn as sns

In [158]:
# eigen packages modules

# Deel B : Functies om herhaling te vermijden

In [159]:
def find_df_name(df):
    """
    Finds the variable name associated with a DataFrame.

    Args:
        df (pd.DataFrame): The DataFrame for which to find the variable name.

    Returns:
        str: The variable name.
    """
    for name, obj in globals().items():
        if obj is df:
            return name
    return None  # If not found

In [160]:
def jve_show_info_about_column(df, col):
    """
    Show some standard information for a Dataframe all together 

    Args:
        df (pd.DataFrame): The DataFrame to analyze
        col (): The column of the DataFrame to analyze

    Returns:
        a bunch of printed output
    """
    print(f"----- {find_df_name(df)} -- {col} -----------------------------------")
    print(f"{df[col].describe(include='all') = } \n")  
    print(f"----- {find_df_name(df)} -- {col} -----------------------------------")
    print(f"{df[col].nunique(dropna=True) = } \n ")    
    print(f"----- {find_df_name(df)} -- {col} -----------------------------------")
    print(f"{df[col].value_counts() = } \n ")    
    print(f"----- end of query --------------------------------------------------")

    return

In [161]:
def find_df_name(df):
    """
    Finds the variable name associated with a DataFrame.

    Args:
        df (pd.DataFrame): The DataFrame for which to find the variable name.

    Returns:
        str: The variable name.
    """
    for name, obj in globals().items():
        if obj is df:
            return name
    return None  # If not found

# Deel C : opladen van de gegevens

In [162]:
autoproductie = pd.read_csv("../data/raw/autoproductie/cars.csv")

# Deel D : minimale controle van het Dataframe

In [163]:
autoproductie

,manufacturer,model,year,mileage,engine,transmission,drivetrain,fuel_type,mpg,exterior_color,interior_color,accidents_or_damage,one_owner,personal_use_only,seller_name,seller_rating,driver_rating,driver_reviews_num,price_drop,price
0,Acura,ILX Hybrid 1.5L,2013,92945.0,"1.5L I-4 i-VTEC variable valve control, engine...",Automatic,Front-wheel Drive,Gasoline,39-38,Black,Parchment,0.0,0.0,0.0,Iconic Coach,NaN,4.4,12.0,300.0,13988.0
1,Acura,ILX Hybrid 1.5L,2013,47645.0,1.5L I4 8V MPFI SOHC Hybrid,Automatic CVT,Front-wheel Drive,Hybrid,39-38,Gray,Ebony,1.0,1.0,1.0,Kars Today,NaN,4.4,12.0,NaN,17995.0
2,Acura,ILX Hybrid 1.5L,2013,53422.0,1.5L I4 8V MPFI SOHC Hybrid,Automatic CVT,Front-wheel Drive,Hybrid,39-38,Bellanova White Pearl,Ebony,0.0,1.0,1.0,Weiss Toyota of South County,4.3,4.4,12.0,500.0,17000.0
3,Acura,ILX Hybrid 1.5L,2013,117598.0,1.5L I4 8V MPFI SOHC Hybrid,Automatic CVT,Front-wheel Drive,Hybrid,39-38,Polished Metal Metallic,NaN,0.0,1.0,1.0,Apple Tree Acura,NaN,4.4,12.0,675.0,14958.0
4,Acura,ILX Hybrid 1.5L,2013,114865.0,1.5L I4 8V MPFI SOHC Hybrid,Automatic CVT,Front-wheel Drive,Hybrid,39-38,NaN,Ebony,1.0,0.0,1.0,Herb Connolly Chevrolet,3.7,4.4,12.0,300.0,14498.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762086,Volvo,S60 B5 Momentum,2022,22877.0,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,All-wheel Drive,Gasoline,25-33,Bright Silver Metallic,Blond,0.0,1.0,0.0,Volvo Cars Danbury,4.2,4.2,2.0,250.0,34798.0
762087,Volvo,S60 T5,2012,72900.0,250.0HP 2.5L 5 Cylinder Engine Gasoline Fuel,A/T,Front-wheel Drive,Gasoline,NaN,Red,Beige,NaN,NaN,NaN,NaN,NaN,4.5,101.0,NaN,12500.0
762088,Volvo,S60 T5,2014,92000.0,2.5L I5 20V MPFI DOHC Turbo,6-Speed Automatic,Front-wheel Drive,Gasoline,21-30,Ice White,Soft Beige,0.0,0.0,1.0,Dapper Car Sales,NaN,4.8,36.0,300.0,12299.0
762089,Volvo,S60 T5 Platinum,2013,132000.0,2.5L I5 20V MPFI DOHC Turbo,6-Speed Automatic,All-wheel Drive,Gasoline,20-29,Ice White,Off Black,1.0,0.0,0.0,Legend Auto Sales Inc.,4.6,4.7,62.0,1000.0,8995.0
762090,Volvo,S60 T5 Premier,2015,115592.0,2.5L I5 20V MPFI DOHC Turbo,6-Speed Automatic,All-wheel Drive,Gasoline,20-29,Savile Gray Metallic,Off-Black,1.0,0.0,1.0,Plymouth Auto Sales,NaN,4.7,51.0,501.0,12999.0

In [164]:
autoproductie.shape

(762091, 20)

In [165]:
autoproductie.columns

Index(['manufacturer', 'model', 'year', 'mileage', 'engine', 'transmission',
       'drivetrain', 'fuel_type', 'mpg', 'exterior_color', 'interior_color',
       'accidents_or_damage', 'one_owner', 'personal_use_only', 'seller_name',
       'seller_rating', 'driver_rating', 'driver_reviews_num', 'price_drop',
       'price'],
      dtype='object')

In [166]:
autoproductie.index

RangeIndex(start=0, stop=762091, step=1)

In [167]:
autoproductie.dtypes

manufacturer            object
model                   object
year                     int64
mileage                float64
engine                  object
transmission            object
drivetrain              object
fuel_type               object
mpg                     object
exterior_color          object
interior_color          object
accidents_or_damage    float64
one_owner              float64
personal_use_only      float64
seller_name             object
seller_rating          float64
driver_rating          float64
driver_reviews_num     float64
price_drop             float64
price                  float64
dtype: object

In [168]:
autoproductie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762091 entries, 0 to 762090
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   manufacturer         762091 non-null  object
 1   model                762091 non-null  object
 2   year                 762091 non-null  int64
 3   mileage              761585 non-null  float64
 4   engine               747041 non-null  object
 5   transmission         752187 non-null  object
 6   drivetrain           740529 non-null  object
 7   fuel_type            739164 non-null  object
 8   mpg                  620020 non-null  object
 9   exterior_color       753232 non-null  object
 10  interior_color       705116 non-null  object
 11  accidents_or_damage  737879 non-null  float64
 12  one_owner            730608 non-null  float64
 13  personal_use_only    737239 non-null  float64
 14  seller_name          753498 non-null  object
 15  seller_rating        548118 non-null  float64
 16  driver_rating        730459 non-null  float64
 17  driver_reviews_num   762091 non-null  float64
 18  price_drop           410112 non-null  float64
 19  price                762091 non-null  float64
dtypes: float64(9), int64(1), object(10)
memory usage: 116.3+ MB

In [169]:
autoproductie.describe()

,year,mileage,accidents_or_damage,one_owner,personal_use_only,seller_rating,driver_rating,driver_reviews_num,price_drop,price
count,762091.000000,7.615850e+05,737879.000000,730608.000000,737239.000000,548118.000000,730459.000000,762091.000000,410112.000000,7.620910e+05
mean,2017.791398,5.578169e+04,0.228616,0.561969,0.657212,4.158568,4.623523,89.550900,1007.467068,3.648898e+04
std,5.110532,4.355788e+04,0.419942,0.496145,0.474642,0.805741,0.276902,115.082266,1375.122208,1.984183e+06
min,1915.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,100.000000,1.000000e+00
25%,2016.000000,2.328700e+04,0.000000,0.000000,0.000000,3.800000,4.500000,14.000000,380.000000,1.958300e+04
50%,2019.000000,4.559600e+04,0.000000,1.000000,1.000000,4.500000,4.700000,51.000000,642.000000,2.798900e+04
75%,2021.000000,7.836500e+04,0.000000,1.000000,1.000000,4.700000,4.800000,119.000000,1007.000000,3.948800e+04
max,2024.000000,1.119067e+06,1.000000,1.000000,1.000000,5.000000,5.000000,1025.000000,170995.000000,1.000000e+09

In [170]:
autoproductie.describe(include = "all")

,manufacturer,model,year,mileage,engine,transmission,drivetrain,fuel_type,mpg,exterior_color,interior_color,accidents_or_damage,one_owner,personal_use_only,seller_name,seller_rating,driver_rating,driver_reviews_num,price_drop,price
count,762091,762091,762091.000000,7.615850e+05,747041,752187,740529,739164,620020,753232,705116,737879.000000,730608.000000,737239.000000,753498,548118.000000,730459.000000,762091.000000,410112.000000,7.620910e+05
unique,30,12187,NaN,NaN,6903,1313,33,36,865,7681,4679,NaN,NaN,NaN,18254,NaN,NaN,NaN,NaN,NaN
top,Ford,Fusion SE,NaN,NaN,2.0L I4 16V GDI DOHC Turbo,6-Speed Automatic,Front-wheel Drive,Gasoline,19-26,Black,Black,NaN,NaN,NaN,Gateway Classic Cars,NaN,NaN,NaN,NaN,NaN
freq,79526,3172,NaN,NaN,75545,148597,241432,644644,16210,60250,286298,NaN,NaN,NaN,1638,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2017.791398,5.578169e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.228616,0.561969,0.657212,NaN,4.158568,4.623523,89.550900,1007.467068,3.648898e+04
std,NaN,NaN,5.110532,4.355788e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.419942,0.496145,0.474642,NaN,0.805741,0.276902,115.082266,1375.122208,1.984183e+06
min,NaN,NaN,1915.000000,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,1.000000,1.000000,0.000000,100.000000,1.000000e+00
25%,NaN,NaN,2016.000000,2.328700e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,3.800000,4.500000,14.000000,380.000000,1.958300e+04
50%,NaN,NaN,2019.000000,4.559600e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,NaN,4.500000,4.700000,51.000000,642.000000,2.798900e+04
75%,NaN,NaN,2021.000000,7.836500e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,NaN,4.700000,4.800000,119.000000,1007.000000,3.948800e+04
max,NaN,NaN,2024.000000,1.119067e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,NaN,5.000000,5.000000,1025.000000,170995.000000,1.000000e+09

# Deel E : Deelset met enkel Volvo's

In [171]:
jve_show_info_about_column(autoproductie, 'manufacturer')

----- autoproductie -- manufacturer -----------------------------------
df[col].describe(include='all') = count     762091
unique        30
top         Ford
freq       79526
Name: manufacturer, dtype: object

----- autoproductie -- manufacturer -----------------------------------
df[col].nunique(dropna=True) = 30

----- autoproductie -- manufacturer -----------------------------------
df[col].value_counts() = manufacturer
Ford             79526
Toyota           59535
Chevrolet        56043
Nissan           48529
Jeep             41665
Mercedes-Benz    40824
Honda            37612
BMW              37570
Kia              35063
GMC              29563
Dodge            25250
Subaru           24767
Volkswagen       24620
Hyundai          22203
Lexus            21301
RAM              19364
Audi             17863
Cadillac         17794
Mazda            15485
Buick            14624
Chrysler         12647
INFINITI         12289
Land Rover       12272
Porsche          11461
Lincoln          10608
Volvo            10029
Acura             8489
Tesla             5883
Mitsubishi        5743
Jaguar            3469
Name: count, dtype: int64

----- end of query --------------------------------------------------

In [172]:
df_volvos = autoproductie.loc[autoproductie['manufacturer'] == 'Volvo']
len(df_volvos)

10029

# Deel F : Vragen en Antwoorden

## Vraag 1

### Gevraagd
Wat voor soort data zijn `year`, `fuel_type` en `seller_rating`? Motiveer je antwoord.

### Antwoord
<span style="color:CadetBlue">  

- atribuut year bevat categorische ordinale data  

motivatie : het attibuut is niet numerisch vermits jaren niet opgeteld kunnen worden en is daarom eerder categorisch, ook omdat jaren niet steeds even groot zijn. Opgelet: met jaren kunnen tijdsafhankelijke berekeningen worden uitgevoerd, in dat kader kÃ n het numerisch zijn. Niet in het kader van deze vraag en oefening, naar mijn mening. Het is ordinaal omdat jaren een logische - in dit geval chronologische - volgorde hebben.

- atribuut fueltype bevat categorische niet ordinale data  

motivatie : na onderzoek is vast te stellen dat de gegevens in het atribuut fueltype van het nominale type zijn vermits er geen ranschikking of volgorde mogelijk. Er is wel wat overlap in betekenis van de gebruikte waardes, alsook vreemde data zoals 'automatic'

- atribuut seller_rating bevat categorische ordinale data

motivatie : ratings zijn niet numeriek in dit geval vermits ze niet opgeteld of numerisch benaderd kunnen worden. Dat heeft geen zin. Ze zijn hier categorisch (tussen waarden 1.0 en 5.0) en ordinaal omdat een rating van 5.0 een 'betere' ofte hogere waardering geeft 

</span>

### Onderzoek


#### 1.1. onderzoek atribuut 'year'

In [173]:
jve_show_info_about_column(autoproductie, 'year')

----- autoproductie -- year -----------------------------------
df[col].describe(include='all') = count    762091.000000
mean       2017.791398
std           5.110532
min        1915.000000
25%        2016.000000
50%        2019.000000
75%        2021.000000
max        2024.000000
Name: year, dtype: float64

----- autoproductie -- year -----------------------------------
df[col].nunique(dropna=True) = 100

----- autoproductie -- year -----------------------------------
df[col].value_counts() = year
2020    133589
2021    108894
2019    105934
2022     80714
2018     62878
         ...
1934         1
1935         1
1919         1
1917         1
1942         1
Name: count, Length: 100, dtype: int64

----- end of query --------------------------------------------------

#### 1.2. onderzoek atribuut 'fueltype'

In [174]:
jve_show_info_about_column(autoproductie, 'fuel_type')

----- autoproductie -- fuel_type -----------------------------------
df[col].describe(include='all') = count       739164
unique          36
top       Gasoline
freq        644644
Name: fuel_type, dtype: object

----- autoproductie -- fuel_type -----------------------------------
df[col].nunique(dropna=True) = 36

----- autoproductie -- fuel_type -----------------------------------
df[col].value_counts() = fuel_type
Gasoline                         644644
Hybrid                            29141
Diesel                            27967
E85 Flex Fuel                     18772
Electric                          16192
B                                  1442
Flexible Fuel                       493
Plug-In Hybrid                      118
Gasoline Fuel                        80
Gasoline/Mild Electric Hybrid        70
Regular Unleaded                     56
Premium Unleaded                     49
G                                    45
Compressed Natural Gas               29
Unspecified                          26
Diesel Fuel                           5
Hybrid Fuel                           5
Other                                 3
Gaseous                               3
Hydrogen Fuel Cell                    3
Gas/Electric Hybrid                   2
Flex Fuel Capability                  2
Electric Fuel System                  2
Gas                                   2
PHEV                                  2
Automatic                             1
Flex Fuel                             1
E85 Fl                                1
Bi-Fuel                               1
Bio Diesel                            1
Biodiesel                             1
Natural Gas                           1
Unknown                               1
Premium (Required)                    1
Premium                               1
Plug-In Electric/Gas                  1
Name: count, dtype: int64

----- end of query --------------------------------------------------

#### 1.3. onderzoek atribuut 'seller_rating'

In [175]:
jve_show_info_about_column(autoproductie, 'seller_rating')

----- autoproductie -- seller_rating -----------------------------------
df[col].describe(include='all') = count    548118.000000
mean          4.158568
std           0.805741
min           1.000000
25%           3.800000
50%           4.500000
75%           4.700000
max           5.000000
Name: seller_rating, dtype: float64

----- autoproductie -- seller_rating -----------------------------------
df[col].nunique(dropna=True) = 41

----- autoproductie -- seller_rating -----------------------------------
df[col].value_counts() = seller_rating
4.8    64396
4.7    56343
4.9    51092
4.6    49169
4.5    40523
4.4    30633
4.3    26375
4.2    21922
4.1    18092
5.0    16939
4.0    16469
3.9    16280
3.8    12180
3.6    11438
3.7    10962
3.3    10235
3.4     9589
3.5     9476
3.1     7641
3.2     6471
3.0     6274
2.8     6047
2.6     5132
2.9     4959
2.7     4761
2.4     4324
2.5     4260
1.8     3900
2.2     3769
2.3     2944
1.9     2934
2.1     2919
1.7     1912
2.0     1613
1.6     1477
1.5     1360
1.3      879
1.4      858
1.2      810
1.0      577
1.1      184
Name: count, dtype: int64

----- end of query --------------------------------------------------

## Vraag 2

### Gevraagd
Ik vraag me af hoe een gewoonlijke (mbt prijs) $2^e$ hands Volvo eruit ziet. Kan je deze zoeken en tonen?

### Antwoord

### Onderzoek

## Vraag 3

### Gevraagd
We kunnen de verdeling van de prijs van $2^e$ hands Volvo's voorstellen met een histogram:
 - Waar zou je verwachten dat het gemiddelde +/- ligt voor deze verdeling?
 - Waar zou je verwachten dat de mediaan +/- ligt?

Teken dit histogram met `.hist` en gebruik `.axvline` om de mediaan en het gemiddelde toe te voegen aan de plot. Komt dit overeen met je verwachting?

 - Kan je de emprisiche cummulatieve distributie functie tekenen voor de verdeling die overeenkomt met dit histogram (zie ook `scipy.stats.ecdf`).

### Antwoord

### Onderzoek

In [176]:
df_volvos_hist = df_volvos.hist
# df_volvos_hist.plot

## Vraag 4

### Gevraagd
Ik wil nu de verschillende fuel types vergelijken hoeveel deze kosten. Hiervoor maak ik volgende afbeelding met meerdere histogrammen hoe kunnen we deze beter maken? Welke alternatieven zijn er nog?

### Antwoord

### Onderzoek

## Vraag 5

### Gevraagd
Gegeven volgende boxplots van de prijs van elektrische & benzine wagens, zijn volgende uitspraken waar/onwaar/niet te besluiten & leg uit:

 - De spreiding op de prijs van elektrische wagens is groter dan die van benzinewagens.

 - Een wagen die meer dan 50 000 euro kost heeft een grotere kans om elektrisch te zijn dan benzine.

 - Een elektrische wagen heeft een grotere kans om meer dan 50 000 euro te kosten dan een benzine wagen.

### Antwoord

### Onderzoek

## Vraag 6

### Gevraagd
Maak een visualizatie om het verband tussen mileage & price te tonen?

### Antwoord

### Onderzoek

## Vraag 7

### Gevraagd
Volgens deze data is de gemiddelde prijs van $2^e$ hands elektrische Volvoâ€™s 48 000 euro; als we veronderstellen dat onze dataset representatief is voor alle 2de hands volvoâ€™s, hoe kan je de accuraatheid van deze schatting nagaan?

### Antwoord

### Onderzoek